.create-meeting{
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    align-self: flex-start;
    position: sticky;
    top: 24px;

}

input, textarea {
    display: block;
    margin:24px;
    font-size: 18px;
} 

textarea{
    resize: vertical;
}